h1 {font-size: 50px;}
ciudad {background-color: royalblue;}
bares{display: block; border: 1px solid Black;background-color: springgreen;color: tomato;}
ocio {background-color: seashell; display: block; letter-spacing: 2px; color: gray;border: 1px solid Black;}
