
body {background-color:rgb(129, 185, 106) ;}
ul {color: red;}
fieldset {background-color: rgb(172, 172, 172);}
legend{font-size: 30px; color:rgb(0, 0, 0);}
table {color:rgb(0, 0, 0)}
ol {color: rgb(120, 222, 253);}
.flotante{float: left}